body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightcyan;
}

.todo-app-wrap {
    margin-top: 20vh;
}

.todo-app {
    color: white;
    display: flex;
    background-color: skyblue;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    height: 70vh;
    width: 30vw;
}

header {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.addButton {
    background-color: transparent;
    border-color: transparent;
    text-decoration-line: underline;
    color: white
}

.deleteButton:active,
.editButton:active,
.addButton:active {
    color: lightgray;
}

.deleteButton:hover,
.editButton:hover,
.addButton:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 70%;
}

.toDoList {
    background-color: lightpink;
    border-radius: 6px;
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.todo-name {
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
    overflow: hidden;
}

.editButton {
    background-color: transparent;
    border-color: transparent;
    color: white;
    height: 3vh;
    width: 3vw;
    font-size: 0.7rem;
}

.deleteButton {
    background-color: transparent;
    border-color: transparent;
    color: white;
    height: 3vh;
    width: 3vw;
    font-size: 0.7rem;
}
